#top-bar-menu {
    background-color: aquamarine;
    display: inline-block;
    width: 100%;
}

#main-website-title {
    display: inline;
    margin: 25px;
}

#top-bar-menu button {
    float: right;
    padding: 15px;
    margin: 15px;
}

#add-driver-availability {
    display: none;
    position: absolute;
    background-color: rebeccapurple;
    margin-left: 50%;
    margin-right: 50%;
    border: 5px solid red;
}

#add-passenger-availability {
    display: none;
}

#map-area {
    position: fixed;
}

#main-page {
    position: relative;
}



#passengers-and-drivers {
    display:inline;
    float: right;
    border: 2px solid red;
    width: 45%;
}

.passenger-available {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
}

.driver-available {
    background-color: lightcoral;
    padding: 10px;
    margin: 5px;
}

.name-and-status {
    display: inline;
    margin: 10px;
}